.container {
    display: flex;
    max-width: fit-content;
    margin: 20px 0px;
    transform: scale(1);
    transition: all .2s ease-in-out;
}

.container:hover {
    cursor: pointer;
    transform: scale(1.01);
    transition: all .2s ease-in-out;
}

.imagestyle {
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 20px;
}

.statistics {
    padding: 0px 10px;
    background-color: rgba(0, 0, 0, 0.54);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    height: 200px;
    border-radius: 0px 20px 20px 0px;
    width: 250px;
}

.statistics > div > div {
    padding: 4px 0px;
}

.rovername {
    color: rgba(183, 183, 183, 1);
    font-size: 1.4rem;
    font-weight: 400;
}

.camera {
    font-weight: 500;
    font-size: 1rem;
    color: rgba(253, 253, 253, 1);
}

.roverid {
    color: rgba(220, 220, 220, 1);
    font-weight: 400px;
    font-size: .8rem;
}

.date {
    color: white;
    font-weight: 400px;
    font-size: 1.0rem;
}

.status {
    color: rgba(148, 148, 148, 1);
    font-size: 0.8rem;
}

@media screen and (max-width: 700px) {
    .statistics {
        border-radius: 0px 0px 20px 20px;
    }

    .container {
        flex-direction: column;
    }

    .imagestyle {
        width: 270px;
        border-radius: 20px 20px 0px 0px;
    }
}