.solpicker {
    background-color: rgba(253, 239, 218, 0.81);
    padding: 1rem 2rem;
    color: rgba(148, 140, 140, 1);
    width: fit-content;
    border-radius: 50px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    margin: auto;
}
