.container {
    margin: 80px auto;
    max-width: 1050px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    animation: 0.5s cubic-bezier(0.59, 1.32, 0.71, 0.95) 0s 1 appear;
    display: flex;
}

.container > * {
    flex: 1 1;
}

.rovertitle {
    font-family: 'Cinzel', serif;
    color: rgba(77, 12, 12, 1);
    font-size: 2rem;
    padding-bottom: 20px;
}

.textbox {
    grid-area: 'text';
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    line-height: 1.8rem;
    padding: 15px 50px;
}

.imagebox {
    grid-area: 'image';
}

@keyframes appear {
    0% {
        transform: scale(0, 0);
    }

    100% {
        transform: scale(1, 1);
    }
}

@media screen and (max-width: 1000px) {
    .container {
        flex-direction: column-reverse;
    }

    .textbox {
        max-width: 500px;
        padding: 50px;
    }
}