@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: rgb(71, 71, 71);
    background-image: linear-gradient(rgb(250, 230, 192),rgb(255, 227, 174), rgba(252, 212, 125, 0.5)), url('./images/bglg.jpg');
    background-repeat: no-repeat;
    background-size: contain; /* switch to 'contain', or resize on smaller screens (?) */
    background-position-y: bottom;
}
